# artifacts
__pycache__
.pytest*
.ruff_cache
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
coverage.xml
.vscode/*
#!.vscode/settings.json



# Home Assistant configuration
config/*
!config/configuration.yaml